.account-input {
    width: 400px;
    border: 1px solid salmon;
    border-radius: 5px;
    padding: 7px 14px;
    background-color: white;
    outline: none;
}

.account-input:focus {
    box-shadow: 0 0 8px salmon;
    transition: box-shadow 0.15s;
}

.account-error-info-block {
    text-align: left;
    width: 400px;
    margin-bottom: 5px;
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 13px;
    width: 400px;
}