p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox:checked + .custom-checkbox {
    background-color: salmon;
    border-color: salmon;
}

.checkbox:checked + .custom-checkbox::after {
    display: block;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s;
    position: relative;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-text {
    margin-left: 8px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-form {
    top: -20%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: relative;
}

.model-error {
    display: block;
    color: red;
}

.validation-summary {
    color: red;
}

.validation-summary ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.validation-summary li {
    overflow-wrap: break-word;
    word-break: break-word;
}

.themed-link {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: salmon;
}

.themed-link:hover {
    color: #C46256;
}

.btn {
    display: block;
    border: none;
    cursor: pointer;
    background: salmon;
    color: white;
    padding: 7px 14px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.2s;
}

.btn:hover {
    background: #C46256;
    color: white;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-wide-stretched {
    display: block;
    border: none;
    cursor: pointer;
    background: salmon;
    color: white;
    padding: 7px 50px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-wide-stretched:hover {
    background: #C46256;
}

.btn-green {
    display: block;
    border: none;
    cursor: pointer;
    background-color: hsl(120, 100%, 32%);
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.1s;
}

.btn-green:hover {
    background: green;
}

.btn-red {
    display: block;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.1s;
}

.btn-red:hover {
    background-color: hsl(0, 100%, 35%);
}

.dim-colored {
    color: rgba(128, 128, 128, 0.6);
}

.bolder {
    font-weight: 600;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}