@model Web.MVC.DTOs.user.ForgetPasswordDto
<link rel="stylesheet" href="~/css/account.css"/>

<div style="text-align: center;">
    @if (!Model.IsRequested)
    {
        <h4>Сброс пароля</h4>
        <form method="post" asp-controller="User" asp-action="ForgetPassword" class="account-form">
            <div class="account-error-info-block">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <input type="hidden" asp-for="IsRequested"/>
            <div>
                <input class="account-input" asp-for="Email" placeholder="Введите адрес эл. почты" required/>
            </div>
            <div>
                <input class="btn" type="submit" value="Отправить"/>
            </div>
        </form>
    }
    else
    {
        <h4>На Вашу электронную почту было отправлено письмо со ссылкой для обновления пароля</h4>
    }
</div>