@model Web.MVC.DTOs.user.UpdateUserPasswordDto
<link rel="stylesheet" href="~/css/account.css"/>

<div style="text-align: center;">
    <h4>Обновление пароля</h4>
    <form method="post" asp-controller="User" asp-action="UpdateUserPassword" class="account-form">
        <div class="account-error-info-block">
            <div class="validation-summary" asp-validation-summary="ModelOnly"></div>
            <span class="model-error" asp-validation-for="NewPassword"></span>
            <span class="model-error" asp-validation-for="ConfirmNewPassword"></span>
        </div>

        <input type="hidden" asp-for="UserId"/>
        <input type="hidden" asp-for="Token"/>

        <div>
            <input class="account-input" asp-for="NewPassword" placeholder="Новый пароль" required />
        </div>

        <div style="margin-top: 7px;">
            <input class="account-input" asp-for="ConfirmNewPassword" placeholder="Подтвердите пароль" required />
        </div>
        
        <div>
            <input class="btn" type="submit" value="Сохранить" />
        </div>
        
    </form>
</div>