@model Web.MVC.DTOs.account.LoginDto

<form method="post">
    <div>
        <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
        <span class="model-error" asp-validation-for="UserNameOrEmail"></span>
        <span class="model-error" asp-validation-for="Password"></span>
    </div>
    
    <input type="hidden" asp-for="ReturnUrl"/>

    <div>
        <input asp-for="UserNameOrEmail" placeholder="Имя пользователя или адрес эл. почты" required/>
    </div>
    
    <div>
        <input asp-for="Password" placeholder="Пароль" required/>
    </div>

    <div>
        <a asp-controller="User" asp-action="ForgetPassword">Забыли пароль?</a><br/>
        <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Ещё нет аккаунта? Зарегистрироваться</a>
    </div>

    <input type="submit" value="Войти"/>
</form>