@model Web.MVC.DTOs.account.RegisterDto

<h3>Зарегистрироваться</h3>
<form method="post">
    <div>
        <div class="validation-summary" asp-validation-summary="ModelOnly"></div>
        <span class="model-error" asp-validation-for="Email"></span>
        <span class="model-error" asp-validation-for="UserName"></span>
        <span class="model-error" asp-validation-for="Password"></span>
        <span class="model-error" asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div>
        <input asp-for="Email" placeholder="Адрес эл. почты" required/>
    </div>
    
    <div>
        <input asp-for="UserName" placeholder="Имя пользователя" required/>
    </div>
    
    <div>
        <input asp-for="Password" placeholder="Пароль" required/>
    </div>
    
    <div>
        <input asp-for="ConfirmPassword" placeholder="Подтвердите пароль" required/>
    </div>
    
    <input type="submit" value="Зарегистрироваться"/>
</form>