.user-profile-readonly-input {
    cursor: default;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 12px;
    color: rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.15);
    outline: none;
}

.block-underline {
    border-bottom: 2px solid rgba(0,0,0,0.08);
    padding-bottom: 20px;
}