.user-info-block {
    display: flex;
    padding: 30px;
    background: rgba(250, 128, 114, 0.1);
    align-items: center;
}

.avatar-block {
    margin-right: 15px;
}

.roles-checkboxes {
    margin-bottom: 8px;
}

@media(min-width: 1401px){
    .get-user-by-id-page-block {
        margin: 0 10% 0 10%;
    }

    .modal-form {
        width: 30%;
    }
}

@media (max-width: 1400px) {
    .get-user-by-id-page-block {
        margin: 0 5% 0 5%;
    }

    .modal-form {
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .get-user-by-id-page-block {
        margin: 0 3% 0 3%;
    }

    .modal-form {
        width: 50%;
    }

    .avatar-block img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 992px) {
    .avatar-block img {
        width: 170px;
        height: 170px;
    }

    .modal-form {
        width: 60%;
    }

    .avatar-block {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .avatar-block img {
        width: 150px;
        height: 150px;
    }

    .modal-form {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .get-user-by-id-page-block {
        margin: 0 2% 0 2%;
    }

    .avatar-block img {
        width: 130px;
        height: 130px;
    }

    .modal-form {
        width: 80%;
    }
}

@media (max-width: 520px) {
    .avatar-block img {
        width: 120px;
        height: 120px;
    }

    .modal-form {
        width: 90%;
    }
}