.update-password-input {
    width: 400px;
    border: 1px solid salmon;
    border-radius: 5px;
    padding: 7px 14px;
    background-color: white;
    outline: none;
}

.update-password-input:focus {
    box-shadow: 0 0 8px salmon;
    transition: box-shadow 0.15s;
}

.update-password-error-info-block {
    text-align: left;
    width: 400px;
    margin-bottom: 5px;
}

.btn {
    width: 400px;
}