@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@if (true)
{
    string returnUrl = Context.Request.Path;
    if (Context.Request.QueryString.HasValue)
        returnUrl += Context.Request.QueryString;

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">
            <input type="submit" value="Выйти"/>
        </form>
        <a asp-controller="User" asp-action="GetUserById" asp-route-userId="@User.Claims.Single(x => x.Type == ClaimTypes.NameIdentifier).Value">
            Мой профиль
        </a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl">Войти</a>
        <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@returnUrl">Зарегистрироваться</a>
    }
}